* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
}
.nav {
  
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.header-image {
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 350px;
}

 .nav-links a {
    padding: 35px;
  text-decoration: none;
  color: #555;
  font-size: 16px;
}
.btn
 {
    padding: 12px 28px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
} 
/* Hero */
.hero-image {
    color: white;
    text-align: center;
    display: grid;
    gap: 50px;
    position:relative;
    width:100%;
    height:100vh;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/banner.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;

}


.hero-text .btn {
    margin-top: 100px;
}

.hero-text h1{
    font-size:70px;
    font-weight:700;
    margin-bottom:20px;
}

.hero-text p{
    font-size:20px;
    line-height:1.6;
    margin-bottom:45px;
}
/* .bold-text {
    font-size: 100px;
} */
/* speakers */
.speakers{
    width:90%;
    margin:60px auto;
}

.speakers h1{
    text-align:center;
    font-size:48px;
    margin-bottom:50px;
}


.speaker-grid{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:30px;
}

.card {
    background:#fff;
    border: 1px solid #efefef;
     border-radius:10px ; 
}


.card img{
    width:100%;
    height: 260px;;
    object-fit:cover;
     border-radius:10px
}
 .card  span  {
    color:#2563eb;
    font-size:12px;
    font-weight:bold;
    margin-top: 10px;
  
 }
 .content {
   margin: 30px ;
   padding: 0 10px ;
 }